<% logged_in_redirect %>

<nav class="top-bar" data-topbar>
  <ul class="title-area">

    <li class="name">
      <h1>
        <%= link_to "WeBe Bloggin", "/", class: "webe" %>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>

  <section class="top-bar-section">

    <ul class="right">
      <li class="divider"></li>
      <li class="events"><%= link_to "Create Account", "/" %></li>
      <li class="divider"></li>
    </ul>
  </section>
</nav>


<div class="panel small-4 small-centered columns">
  <h1>Log in</h1>

<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :username %><br>
    <%= text_field_tag :username, params[:username] %>
  </p>
  <p>
    <%= label_tag :password %><br>
    <%= password_field_tag :password %>
  </p>
  <p>
    <%= submit_tag("Log in") %>
  </p>
<% end %>
</div>
