<p id="notice"><%= notice %></p>

<p><%= @comment.name %></p>
<p><%= markdown @comment.description %></p>
<p><%= @comment.post_date %></p>
<p>entry_id: <%= @comment.entry_id %></p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
