<div id="show-entry">
  <% unless current_user == nil %>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">

        <li class="name">
          <h1>
            <%= link_to "WeBe Bloggin", "/", class: "webe" %>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>

        <section class="top-bar-section">

          <ul class="right">
            <li class="divider"></li>
            <li class="events"><%= link_to 'Delete Post', @entry, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            <li class="divider"></li>
            <li class="events"><%= link_to "Edit Post", edit_entry_path %></li>
            <li class="divider"></li>
            <li class="events"><%= link_to "Create Post", users_path %></li>
            <li class="divider"></li>
            <li class="events"><%= link_to "Blog", user_path(id: @user.id) %></li>
            <li class="divider"></li>
            <li class="events"><%= link_to "Log out", log_out_path %></li>
            <li class="divider"></li>
          </ul>
        </section>
    </nav>
  <% else %>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">

        <li class="name">
          <h1>
            <%= link_to "WeBe Bloggin", "/", class: "webe" %>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>

        <section class="top-bar-section">

          <ul class="right">
            <li class="divider"></li>
            <li class="divider"></li>
          </ul>
        </section>
    </nav>
  <% end %>

  <div class="panel small-6 small-centered columns">
  <h2><%= @entry.title %></h2>
  <p><%= markdown @entry.description %></p>
  <p><%= @entry.post_date %></p><br><p class="style"></p><br>

  <h3 class="white-text">
    <%= link_to "Add a Comment", new_entry_comment_path(entry_id: @entry.id),
        "data-reveal-id" => "new-comment-modal",  remote: true,
        class: "button [radius round small large]" %>
  </h3>

  <% @entry_comments.each do |comment| %>
    <div id="<%= dom_id comment %>">
      <br><br><h5><%= comment.name %></h5>
      <p><%= markdown comment.description %></p>
      <p><%= comment.post_date %></p><br><p class="style"></p>
      <% unless current_user == nil %>
        <p><%= link_to 'Delete comment', comment, remote: true,
                        method: :delete,
                        class: "white-text" %>
        </p>
    </div>
    <% end %>
  <% end %>

  <%= paginate @entry_comments %>

  </div>
</div>
<div id="new-comment-modal" class="reveal-modal" data-reveal></div>
