<p id="notice"><%= notice %></p>

<% Entry.where(user_id: @user.id).order(post_date: :desc).each do |entry| %>
  <p><%= entry.title %></p>
  <p><%= markdown entry.description %></p>
  <p><%= entry.post_date %></p>
  <p>user_id: <%= entry.user_id %></p><br><br>
<% end %>
