<% unless current_user == nil %>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">

      <li class="name">
        <h1>
          <%= link_to "WeBe Bloggin", "/", class: "webe" %>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
      </ul>

      <section class="top-bar-section">

        <ul class="right">
          <li class="divider"></li>
          <li class="events"><%= link_to "Create Post", users_path %></li>
          <li class="divider"></li>
          <li class="events"><%= link_to "Log out", log_out_path %></li>
          <li class="divider"></li>
        </ul>
      </section>
  </nav>
<% else %>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">

      <li class="name">
        <h1>
          <%= link_to "WeBe Bloggin", "/", class: "webe" %>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
      </ul>

      <section class="top-bar-section">

        <ul class="right">
          <li class="divider"></li>
          <li class="divider"></li>
        </ul>
      </section>
  </nav>
<% end %>

<div class="panel small-9 small-offset-1 columns">
  <div class='row'>
    <h1>Recent Posts</h1><br><br>
    <% Entry.where(user_id: @user.id).order(post_date: :desc).each do |entry| %>
      <h3><%= link_to entry.title, entry_path(id: entry.id) %></h3>
      <p><%= markdown entry.description %></p>
      <p><%= entry.post_date %></p><br><br>
    <% end %>
  </div>
  <p id="notice"><%= notice %></p>
  <%= paginate @entry %>
</div>
